In [1]:
a="praveen"
type(a)

str

In [2]:
a=[1,2,3,'praveen ']
type(a)

list

In [4]:
a=4.53
type(a)

float

In [5]:
a=(1,2,3,[1,2,3,],'praveen')
type(a)

tuple

In [7]:
#q2
var1 = ‘ ‘
type(var1)

SyntaxError: invalid character '‘' (U+2018) (3429497953.py, line 2)

In [8]:

var2 = ‘[ DS , ML , Python]’
type(var2)

SyntaxError: invalid character '‘' (U+2018) (2771565403.py, line 1)

In [9]:

var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
typr(var3)

SyntaxError: invalid character '‘' (U+2018) (140573027.py, line 1)

In [10]:
var4 = 1.
type(var4)

float

In [14]:
a=24
b=7
a/b #divided

3.4285714285714284

In [15]:
a%b # gives the remainder operator

3

In [16]:
a//b #  interger floor division

3

In [17]:
a**b #power

4586471424

In [20]:
#q4
my_list = [42,'Hello', 3.14,14,True,[1,2,3],None,1,4,'praveen']
for element in my_list:
    print(element ,type(elements))

42 <class 'int'>
Hello <class 'int'>
3.14 <class 'int'>
14 <class 'int'>
True <class 'int'>
[1, 2, 3] <class 'int'>
None <class 'int'>
1 <class 'int'>
4 <class 'int'>
praveen <class 'int'>

In [21]:
#5
A = 48  
B = 4   

count = 0 

while A % B == 0:
    A = A // B  
    count += 1  

if count > 0:
    print(f"A is purely divisible by B, and it can be divided {count} times.")
else:
    print("A is not purely divisible by B.")

A is purely divisible by B, and it can be divided 2 times.

In [22]:
#6
my_list = [2, 9, 12, 18, 21, 30, 37, 42, 45, 50, 55, 63, 66, 70, 75, 80, 88, 90, 93, 99, 102, 105, 110, 120, 125]

for element in my_list:
    if element % 3 == 0:
        print(f"{element} is divisible by 3.")
    else:
        print(f"{element} is not divisible by 3.")

2 is not divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
37 is not divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
50 is not divisible by 3.
55 is not divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
70 is not divisible by 3.
75 is divisible by 3.
80 is not divisible by 3.
88 is not divisible by 3.
90 is divisible by 3.
93 is divisible by 3.
99 is divisible by 3.
102 is divisible by 3.
105 is divisible by 3.
110 is not divisible by 3.
120 is divisible by 3.
125 is not divisible by 3.

In [24]:
#7
#int: Integer values are immutable. For example:
x = 5
x += 1
print(x)

6

In [25]:
#float: Floating-point numbers are also immutable. For example:
y = 3.14
y = y * 2
print(y)

6.28

In [26]:
#'str': Strings are immutable in Python. For example:
message = "Hello"
message += " World"
print(message)

Hello World

In [27]:
#list: Lists are mutable. For example:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]